@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

/* WHATSAPP */
#whatsApp a img {
  width: 55px;
  position: fixed;
  bottom: 24px;
  right: 20px; }
  @media all and (max-width: 992px) {
    #whatsApp a img {
      width: 45px;
      right: 3px;
      bottom: 10px; } }

/* FUENTES */
/* EACH - Aplicado en  Página de productos */
.font-light {
  font-weight: light; }

.font-bold {
  font-weight: bold; }

/* MAPS - Aplicado en página de productos */
.font-weight-small {
  font-size: 0.9rem; }

.font-weight-medium {
  font-size: 1.1rem; }

.font-weight-large {
  font-size: 1.2rem; }

.font-weight-xl {
  font-size: 1.5rem; }

/* BORDES */
/* BUCLE- Aplicado en página de contacto */
.radiobdr-1 {
  border-radius: 5px; }

.radiobdr-2 {
  border-radius: 10px; }

.radiobdr-3 {
  border-radius: 15px; }

.radiobdr-4 {
  border-radius: 20px; }

.radiobdr-5 {
  border-radius: 25px; }

.radiobdr-6 {
  border-radius: 30px; }

/* BREADCRUMBS */
.breadcrumb {
  margin-top: 130px;
  background-color: white !important;
  padding: 22px 0px 0px 35px !important;
  margin-bottom: 10px;
  font-size: 14px; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .breadcrumb {
      margin-top: 8.2rem;
      justify-content: center;
      padding-left: 0 !important;
      margin-bottom: 5px !important; } }
  @media all and (max-width: 768px) {
    .breadcrumb {
      margin-top: 9.1rem;
      justify-content: center;
      padding-left: 0 !important;
      margin-bottom: 5px !important; } }
  .breadcrumb .breadcrumb-item a {
    color: #b2c2cc !important; }
  .breadcrumb .breadcrumb-item.active {
    color: #b2c2cc; }
    .breadcrumb .breadcrumb-item.active::before {
      content: ">";
      color: #b2c2cc; }

.titleMobile {
  text-align: center; }
  @media all and (min-width: 992px) {
    .titleMobile {
      display: none; } }

/* HEADER */
#headerShop {
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 100;
  color: white; }
  #headerShop .headerTop {
    min-height: auto;
    margin: 5px 0px; }
    @media all and (max-width: 768px) {
      #headerShop .headerTop .logo {
        text-align: center;
        padding-top: 2px; } }
    #headerShop .headerTop .logo a img {
      height: 85px;
      width: 170px; }
      @media all and (max-width: 768px) {
        #headerShop .headerTop .logo a img {
          height: 65px;
          width: 150px; } }
  #headerShop .headerRight {
    margin: auto;
    padding-top: 12px; }
    @media all and (max-width: 768px) {
      #headerShop .headerRight {
        padding-top: 0px; } }
    #headerShop .headerRight .socialAccount {
      display: inline-block;
      margin-bottom: 3px; }
      @media all and (max-width: 768px) {
        #headerShop .headerRight .socialAccount div {
          display: none; } }
      #headerShop .headerRight .socialAccount .socialLogos a img {
        height: 29px;
        padding-right: 1px; }
      #headerShop .headerRight .socialAccount .userAccount {
        text-align: right;
        padding-top: 3px;
        color: black; }
        #headerShop .headerRight .socialAccount .userAccount .userBtn {
          padding: 0px; }
          #headerShop .headerRight .socialAccount .userAccount .userBtn p {
            margin-bottom: 0px; }
            @media all and (max-width: 992px) {
              #headerShop .headerRight .socialAccount .userAccount .userBtn p {
                font-size: 13px;
                padding-bottom: 3px; } }
        #headerShop .headerRight .socialAccount .userAccount .modal-body {
          text-align: center; }
    #headerShop .headerRight .buscador {
      max-height: auto;
      border-top: 1px solid #212529;
      padding-top: 6px;
      position: relative; }
      @media all and (max-width: 768px) {
        #headerShop .headerRight .buscador {
          border-top: none;
          padding-top: 2px; } }
      #headerShop .headerRight .buscador input {
        width: 100%;
        height: 33px;
        border: 1px solid black;
        text-align: left;
        padding-left: 12px;
        border-radius: 8px;
        color: #5f677a;
        font-size: 14px; }
      #headerShop .headerRight .buscador button {
        padding: 0px 4px;
        height: 25px;
        color: white;
        background-color: #89d8ff;
        border: 1px solid #89d8ff;
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 11px; }
        @media all and (max-width: 768px) {
          #headerShop .headerRight .buscador button {
            top: 6px;
            right: 11px; } }

/*MENU*/
#headerShop .headerBottom {
  height: 40px;
  padding-bottom: 2px;
  border-top: 1px solid #212529;
  border-bottom: 3px solid #89d8ff;
  background-color: white;
  align-items: center; }

.navbar-toggler span {
  font-size: 0.7rem;
  margin-bottom: 3px; }

.navbar-nav {
  border: none; }
  .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px; }
    .navbar-nav .nav-item .nav-link:hover {
      color: #89d8ff !important; }

@media all and (max-width: 768px) {
  .navbar {
    height: 46px; }
  .navbar-nav {
    border: 1px solid black; }
  .nav-link {
    background-color: white; } }

.carritoCompras {
  text-align: right;
  height: 32px;
  align-items: center; }
  .carritoCompras .btn {
    background-color: white;
    border: none;
    padding: 0px;
    padding-top: 3px;
    line-height: 0px;
    transition: none; }
    .carritoCompras .btn:hover {
      background-color: white; }
    .carritoCompras .btn img {
      height: 28px;
      padding-right: 3px; }
  .carritoCompras .modal-title, .carritoCompras .modal-body {
    color: black; }
  .carritoCompras .modal-body {
    text-align: center; }

.modal-backdrop {
  display: none; }

/* FOOTER */
#footer {
  background-color: white;
  border-top: 1px solid #212529; }
  #footer .footerTop {
    min-height: 330px;
    padding-top: 40px; }
    @media all and (max-width: 992px) {
      #footer .footerTop {
        padding-top: 2px;
        padding-bottom: 35px; } }
    #footer .footerTop .sections {
      text-align: center; }
      #footer .footerTop .sections h5 {
        color: black;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid #212529;
        text-align: center;
        padding: 5px;
        margin: 15px 15px; }
      #footer .footerTop .sections.section1 p {
        margin: 0px 20px;
        color: black;
        font-size: 14px; }
      #footer .footerTop .sections.section2 .navDesktopList {
        list-style: none; }
        #footer .footerTop .sections.section2 .navDesktopList li a {
          text-decoration: none;
          font-size: 14px;
          color: black; }
          #footer .footerTop .sections.section2 .navDesktopList li a:hover {
            color: #89d8ff; }
      #footer .footerTop .sections.section3 p {
        color: black;
        font-size: 14px; }
      #footer .footerTop .sections.section3 .lH {
        line-height: 0 !important; }
      #footer .footerTop .sections.section3 .newsForm {
        display: inline;
        position: relative; }
        #footer .footerTop .sections.section3 .newsForm input {
          width: 250px;
          height: 27px;
          border: 1px solid black;
          text-align: left;
          padding-left: 7px;
          border-radius: 5px;
          color: #5f677a;
          font-size: 13px; }
        #footer .footerTop .sections.section3 .newsForm button {
          padding: 0px 7px;
          height: 23px;
          color: white;
          background-color: #89d8ff;
          border: 1px solid white;
          text-align: center;
          border-radius: 5px;
          font-size: 12px;
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 0.5px; }
      @media all and (max-width: 992px) {
        #footer .footerTop .sections.section3 {
          padding-top: 28px; } }
  #footer .footerBottom {
    width: 100%;
    min-height: auto;
    height: 25px;
    text-align: center;
    color: white;
    padding-bottom: 5px;
    background-color: black; }
    #footer .footerBottom a {
      text-decoration: none;
      color: white;
      font-size: 12px; }
      #footer .footerBottom a:hover {
        text-decoration: none;
        color: #89d8ff; }

#proxPage {
  min-height: 600px;
  padding-top: 290px;
  text-align: center; }
  @media all and (max-width: 768px) {
    #proxPage {
      min-height: 350px;
      padding-top: 220px; } }
  #proxPage p {
    color: black;
    font-size: 50px; }
    @media all and (max-width: 768px) {
      #proxPage p {
        font-size: 25px; } }

/* SLIDER */
#carouselExampleIndicators {
  padding-top: 145px;
  padding-bottom: 13px;
  max-height: 800px;
  max-width: 1080px;
  margin: auto; }
  @media all and (max-width: 992px) {
    #carouselExampleIndicators {
      max-width: 992px;
      margin: 13px 10px 0px 10px;
      padding-bottom: 5px; } }
  #carouselExampleIndicators .carousel-inner {
    border: 1px solid white;
    border-radius: 65px; }
    #carouselExampleIndicators .carousel-inner img {
      height: 480px; }
      @media all and (max-width: 992px) {
        #carouselExampleIndicators .carousel-inner img {
          width: 100%;
          height: auto; } }
  #carouselExampleIndicators .carousel-control-prev, #carouselExampleIndicators .carousel-control-next {
    padding-top: 135px; }

/* CATEGORIAS */
#categoriesHome {
  max-width: auto;
  width: 100%;
  min-height: 400px;
  margin: auto;
  padding: 6px 30px;
  background-color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media all and (max-width: 992px) {
    #categoriesHome {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; } }
  #categoriesHome .boxCategory {
    transition: all 2s easy-out;
    position: relative; }
    @media all and (max-width: 1200px) {
      #categoriesHome .boxCategory {
        transition: none; } }
    #categoriesHome .boxCategory:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer; }
      @media all and (max-width: 1200px) {
        #categoriesHome .boxCategory:hover {
          transform: none; } }
    #categoriesHome .boxCategory h3 {
      position: absolute;
      top: 40%;
      left: 30%;
      color: white;
      font-size: 30px;
      text-shadow: -4px 2px 0 black;
      font-weight: 700; }
    #categoriesHome .boxCategory img {
      height: 350px;
      border: 1px solid #212529;
      border-radius: 10px; }
      @media all and (max-width: 768px) {
        #categoriesHome .boxCategory img {
          height: 280px;
          padding: 5px; } }
      @media all and (min-width: 768px) and (max-width: 1200px) {
        #categoriesHome .boxCategory img {
          height: 450px;
          padding: 5px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        #categoriesHome .boxCategory img {
          height: 330px;
          padding: 5px; } }

/* PÁGINA DE PRODUCTOS */
#productsGrid {
  margin-top: 20px;
  margin-bottom: 470px;
  min-height: 535px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  height: 100vh;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    #productsGrid {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      justify-content: center; } }
  @media all and (max-width: 768px) {
    #productsGrid {
      margin: 10px 5px 40px 5px;
      height: auto;
      grid-template-columns: 100%;
      grid-row-gap: 15px; } }
  #productsGrid .grid__item {
    transition: all 2s easy-out; }
    @media all and (max-width: 992px) {
      #productsGrid .grid__item {
        transition: none; } }
    #productsGrid .grid__item a {
      text-decoration: none;
      color: black; }
    #productsGrid .grid__item:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer; }
      @media all and (max-width: 992px) {
        #productsGrid .grid__item:hover {
          transform: none; } }
    #productsGrid .grid__item.item--izquierdo {
      justify-self: end; }
    #productsGrid .grid__item.item--derecho {
      justify-self: start; }
    #productsGrid .grid__item.borderPro {
      border: 3px solid #89d8ff;
      border-radius: 40px;
      padding: 15px; }
    @media all and (max-width: 768px) {
      #productsGrid .grid__item {
        justify-self: center; }
        #productsGrid .grid__item.item--izquierdo, #productsGrid .grid__item.item--derecho {
          justify-self: center; } }
    #productsGrid .grid__item .grid__imagen {
      height: 340px;
      border: 1px solid white;
      border-radius: 8px;
      margin-top: 17px; }
      @media all and (max-width: 576px) {
        #productsGrid .grid__item .grid__imagen {
          height: 300px;
          margin-top: 10px; } }
    #productsGrid .grid__item .grid__title {
      padding-top: 13px;
      margin-bottom: 0.2rem; }
    #productsGrid .grid__item .grid__parrafo {
      color: #b2c2cc; }

/* QUIENES SOMOS */
#whoPage {
  margin: 20px 40px 50px 40px; }
  #whoPage .whoBlock {
    max-width: 800px;
    width: 90%;
    margin: auto;
    background-color: #212529;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    text-align: center; }
    #whoPage .whoBlock.whoBlock--light {
      background-color: white;
      border: 2px solid #212529;
      color: #212529; }
  #whoPage .who__image {
    width: 400px;
    height: 220px; }
    #whoPage .who__image.image--izquierda {
      margin: 0px 30px 0px 10px; }
    #whoPage .who__image.image--derecha {
      margin: 0px 10px 0px 30px; }
  #whoPage .who__titulo {
    margin: 6px 0px 20px 0px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700; }
    #whoPage .who__titulo.titulo--dark {
      color: #212529; }
  #whoPage .who__parrafo {
    line-height: 28px;
    font-size: 1rem;
    color: white; }
    #whoPage .who__parrafo.parrafo--dark {
      color: #212529; }
  #whoPage .boton {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px 10px;
    background-color: #89d8ff;
    border: 1px solid #89d8ff;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer; }
    #whoPage .boton:hover {
      text-decoration: none;
      color: #212529; }
    #whoPage .boton.boton--redondo {
      position: absolute;
      right: -15px;
      top: -12px;
      padding: 0;
      width: 70px;
      height: 70px;
      font-size: 12px;
      border-radius: 50%;
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      transform: rotate(5deg); }
  @media all and (max-width: 768px) {
    #whoPage .whoBlock {
      max-width: 768px;
      margin: 10px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #whoPage .whoBlock .who__image {
        width: 100%;
        max-height: 250px;
        max-width: 250px;
        height: auto; }
        #whoPage .whoBlock .who__image.image--izquierda, #whoPage .whoBlock .who__image.image--derecha {
          margin: 5px; } }

/* PÁGINA DE CONTACTO */
#formulario {
  margin: 18px 40px 40px 40px;
  height: auto; }
  #formulario .contactForm {
    color: white;
    background: linear-gradient(to bottom, #5f677a, #b2c2cc);
    max-width: 760px;
    width: auto;
    margin: auto;
    padding: 20px;
    border: 2px solid #89d8ff; }
    #formulario .contactForm #name, #formulario .contactForm #email {
      width: 100%;
      height: 25px;
      border: 2px solid #89d8ff;
      margin-bottom: 5px; }
    #formulario .contactForm .radioItems {
      margin: 8px 0px; }
      #formulario .contactForm .radioItems input {
        margin-right: 10px; }
        #formulario .contactForm .radioItems input:hover {
          cursor: pointer; }
    #formulario .contactForm .formItem select {
      border: 2px solid #89d8ff;
      height: 28px;
      width: 100%;
      color: #5f677a;
      font-size: 13px; }
      #formulario .contactForm .formItem select:hover {
        cursor: pointer; }
    #formulario .contactForm .comentBox {
      margin-top: 15px;
      width: 100%;
      height: 150px;
      border: 2px solid #89d8ff;
      font-size: 13px; }
    #formulario .contactForm .buttonsForm {
      margin-top: 18px;
      margin-bottom: 14px; }
      #formulario .contactForm .buttonsForm button {
        padding: 0px 4px;
        height: 23px;
        color: white;
        border: 1px solid white;
        text-align: center;
        cursor: pointer;
        transition: all 2s easy-out; }
        #formulario .contactForm .buttonsForm button:hover {
          transform: translateY(-3px); }
      #formulario .contactForm .buttonsForm .btnReset {
        background-color: #5f677a;
        font-size: 10px; }
      #formulario .contactForm .buttonsForm .btnSubmit {
        font-weight: 900;
        font-size: 12px;
        background-color: #89d8ff; }
