/* PÁGINA DE CONTACTO */  

#formulario {
  margin: 18px 40px 40px 40px;
  height: auto;
  .contactForm {
    color: white;
    background: linear-gradient(to bottom, #5f677a, #b2c2cc); 
    max-width: 760px;
    width: auto;
    margin: auto;
    padding: 20px;
    border: 2px solid #89d8ff;
    #name, #email {
      width: 100%;
      height: 25px;
      border: 2px solid #89d8ff;
      margin-bottom: 5px;
    }
    .radioItems {
      margin: 8px 0px;  
      input {
      margin-right: 10px;  
        &:hover {
          cursor: pointer;
        }       
      }
    }
    .formItem select {
      border: 2px solid #89d8ff;
      height: 28px;
      width: 100%;
      color: #5f677a;
      font-size: 13px;
      &:hover {
        cursor: pointer;
      }
    }
    .comentBox {
      margin-top: 15px;
      width: 100%;
      height: 150px;
      border: 2px solid #89d8ff;
      font-size: 13px;
    }
    .buttonsForm {
      margin-top: 18px;
      margin-bottom: 14px;
      button {
        padding: 0px 4px;
        height: 23px;
        color: white;
        border: 1px solid white;
        text-align: center;
        cursor: pointer;
        transition: all 2s easy-out; 
        &:hover {
          transform: translateY(-3px);
        }
      }
      .btnReset {
        background-color: #5f677a;
        font-size: 10px;
      }
      .btnSubmit {
        font-weight: 900;
        font-size: 12px;
        background-color: #89d8ff;
      }
    }    
  }
}




    

    

  



  
