/* HEADER */

#headerShop {
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 100;
  color: white;
  .headerTop {
  min-height: auto;
  margin: 5px 0px;
    .logo {
      @media all and (max-width: 768px) {
        text-align: center;
        padding-top: 2px;
      }
      a img {
      height: 85px;
      width: 170px;
      border: 1px solid black;
      border-radius: 5px;
        @media all and (max-width: 768px) {
         height: 65px;
         width: 150px;
        }
      }
    }  
  }
  .headerRight {
  margin: auto;
  padding-top: 12px;
    @media all and (max-width: 768px) {
      padding-top: 0px;
    }
    .socialAccount {
    display: inline-block;
    margin-bottom: 3px;
      div {
        @media all and (max-width: 768px) {
          display: none;
        }
      }
      .socialLogos a img {
      height: 29px;
      padding-right: 1px;
      }
      .userAccount {
      text-align: right;
      padding-top: 3px;
      color: black;
        .userBtn {
          padding: 0px;
          p {
            margin-bottom: 0px;
            @media all and (max-width: 992px) {
            font-size: 13px;
            padding-bottom: 3px;
            }
          }
        } 
        .modal-body {
          text-align: center;
        }
      }
    }
    .buscador {
    max-height: auto;
    border-top: 1px solid #212529;
    padding-top: 6px;
    position: relative;
      @media all and (max-width: 768px) {
       border-top: none;
       padding-top: 2px;
      }
      input {
      width: 100%;
      height: 33px;
      border: 1px solid black;
      text-align: left;
      padding-left: 12px;
      border-radius: 8px;
      color: #5f677a;
      font-size: 14px;
      }
      button {
      padding: 0px 4px;
      height: 25px;
      color: white;
      background-color: #89d8ff;
      border: 1px solid #89d8ff;
      text-align: center;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 11px;
        @media all and (max-width: 768px) {
         top: 6px;
         right: 11px;
        }
      }
    }
  }
}

/*MENU*/

#headerShop {
  .headerBottom {
  height: 40px;
  border-top: 1px solid #212529;
  border-bottom: 3px solid #89d8ff;
  background-color: white;
  align-items: center;   
  }
}

.navbar-toggler span {
  font-size: 0.7rem;
}

.navbar-nav {
  .nav-item {
    padding-right: 12px;
    .nav-link {
    text-decoration: none; 
    font-size: 16px;
      &:hover {
      color: #89d8ff!important;
      }
    } 
  }
}

@media all and (max-width: 768px) {
  .navbar {
  height: 46px;
  }
 .nav-link{
  background-color: white;
 }
}

.carritoCompras {
  text-align: right;
  height: 32px;
  align-items: center;
  .btn {
  background-color: white;
  border: none;
  padding: 0px;
  padding-top: 3px;
  line-height: 0px;
  transition: none;
    &:hover {
      background-color: white;
    } 
    img {
    height: 28px;
    padding-right: 3px;
    }
  }
  .modal-title, .modal-body {
  color: black; 
  }
  .modal-body {
    text-align: center;
  }  
}

.modal-backdrop {
  display: none;
}
